@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  /* background-color: #cccccc; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-yellow: #ffe800;
  --color-gray: #939598;
}

#root {
  min-height: 100vh;
}

.vanta-canvas {
  z-index: -1 !important;
}

.bg-color-yellow {
  background-color: var(--color-yellow);
}

.bg-color-gray {
  background-color: var(--color-gray);
}

.text-color-yellow {
  color: var(--color-yellow);
}

.text-color-gray {
  color: var(--color-gray);
}

.btn {
  @apply font-bold py-2 px-4 rounded cursor-pointer
}

.btn-gray {
  @apply bg-color-yellow text-black
}

.btn-gray:hover {
  @apply bg-yellow-400
}

.btn-dark-gray {
  @apply bg-gray-900 text-gray-200
}

.btn-dark-gray:hover {
  @apply bg-gray-800
}

.container {
  @apply max-w-7xl w-full mx-auto mt-6 px-6
}

.container-rooms, .container-users {
  @apply flex flex-wrap;
}